.post-item{
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
.pagination{
  display: flex;
  cursor: pointer;
}
/* .page-item{
  display: flex;
  list-style-type: none;
  margin: 5px;
  border: 1px solid black;
  padding: 7px;
  height: 20px;
  width: 20px;
  border-radius: 90px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;

} */
/* .page-link{
  text-decoration: none;
} */
.pagination.active{
  background-color: blue;
  color: aliceblue;
}

/* pagination package  design */

.pagination{
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 10px;
}

.pagination__link--active{

  border: 1px solid white;
  padding: 10px;
  background-color: tomato;
  color: white;
}
.pagination-design{
  display: flex;
  list-style-type: none;
  margin: 5px;
  border: 1px solid black;
  padding: 7px;
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 90px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.break-class{
  display: flex;
  list-style-type: none;
  margin: 5px;
  border: 1px solid black;
  padding: 7px;
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 90px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.break-class:hover{
  background-color: tomato;
  color: white;
  text-decoration: none;
  list-style-type: none;
}

.selected-page{
  color: black;
}

.pagination-design:hover{
  background-color: tomato;
  color: white;
  text-decoration: none;
  list-style-type: none;
}


.previous-button{
  display: flex;
  list-style-type: none;
  margin: 5px;
  border: 1px solid black;
  padding: 7px;
  height: 30px;
  width: 90px;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}

.next-button{
  display: flex;
  list-style-type: none;
  margin: 5px;
  border: 1px solid black;
  padding: 7px;
  height: 30px;
  width: 90px;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}

.pagination__link--disabled{

  display: none;

  /* cursor: not-allowed;
  color: gray;
  text-decoration: none; */
}
